<title>My application</title>
  <h1>Hello, World!</h1>
  <p>Enter a list of strings to the first box and enter two strings in the second and third box and hit submit to see if they are in the list</p>
    Result is {{result}}
    



  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

